<div style="text-align:center">
<h1 class="mt-4">Home Page</h1>
<h2 class="lead mb-3" style = "text-transform:uppercase;">
   <b>Welcome </b> 
    <%= user.firstname %>
    <%= user.lastname %>  
</h2>

<a href="/users/logout" class="btn btn-secondary">Logout</a>
</div>